body{
    margin: 0;
    padding: 0;
    text-align: center;
}
.header{
    height: 50px;
    background-color: red;
}
.addimg{
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: center;
}

.addimg>*{
    margin: 10px 20px;
}

.addimg > div > span{
    font-weight: 900;
    font-size: 25px;
}

.addimg > div > input{
    border-radius: 5px;
    border: 1px solid black;
    height: 30px;
    width: 300px;
}

.addimg > div > button{
    border-radius: 5px;
    border: 1px solid black;
    height: 30px;
    width: 100px;
    cursor: pointer;
}
.addimg > div > button:hover{
    background-color: rgb(39, 37, 37);
    color: orange;

}
.main{
    margin: auto;
    display: flex;
    width: 1200px;
    margin-top: 20px;
}

.main-tool{
    margin: auto;
    width: 800px;
    height: 1000px;
    background-color: #999;
}
.main-tool > .main-tool__top{
    margin: 10px;
}

.main-tool > .main-tool__top> button{
    height: 30px;
    width: 100px;
    background-color: red;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
}

.main-tool > .main-tool__img{
    height: cover;
    width: 800px;
    background-color: #999;
    margin: auto;
    display: block;
}
.add-img-raw{
    width: 800px;
    min-height: 500px;
    text-align: center;
}
.add-img-raw > #img-raw{    
   
    width: 100%;
    height: 100%;
}

.img-raw{
    position: relative;
    width: 800px;
    height: auto;
}

#canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

#addtext{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
#bug{
    display: none;
}


